---
layout: default
title: PVOS
---

	<div class="large-9 columns" role="content">
		{% for post in site.posts %}
			<article>
	 
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<h3>Written by <a href="#">{{ post.author }}</a> on {{ post.date | date_to_string }}.</h3>
	 
				<div class="row">
					<div class="large-12 columns">
						{{ post.excerpt }}
				</div>
	
			</article>
		{% endfor %}
 		</div>

<!-- Sidebar -->
		<aside class="large-3 columns">
		 
			{% include categories.html %}
 
			{% include featured.html %}
		</aside>
<!-- End Sidebar -->