<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ site.name }}</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/foundation.css" />

  <!-- If you are using the gem version, you need this only -->
  <!--<link rel="stylesheet" href="/css/app.css" />-->

  <link rel="stylesheet" href="/css/local.css" />

  <script src="/js/vendor/custom.modernizr.js"></script>

</head>
<body>
<!-- Nav Bar -->
 
	<div class="row">
		<div class="large-3 columns">
			<a href="/"><img src="/assets/pvosLogoInfo.png" width="80%" align="left" style="padding:7px;"></a>
		</div>
		<div class="large-9 columns">
			<p class="aboutus"><a href="http://pvos.org">Pioneer Valley Open Science (PVOS)</a> is a group formed in Amherst, MA in order to develop scientific projects that are accessible, open, and good for the world. We are greatly inspired by (and attempt to contribute to) <a href="http://publiclab.org">Public Laboratory</a>.</p>
		</div>
		<hr/>
	</div>
